<html>
  <head>
    <meta charset="UTF-8">
    <title>LineChatRecord</title>
    <style>
        .body {
          background-color: linen;
          width:100%
        }
        .container {
            width:inherit;
            max-width: 100%;
            min-width: 100%;
        }
        .date-picker {
            float: right;
        }
        .page-bar {
            float:left;
        }
        .chat-table-div {
            table-layout: fixed;
            width:100%;
            overflow-x:auto;
            height:80%;
            overflow-y:auto
            
        }
        .chat-table {
            table-layout: fixed;
            width:100%;
            overflow-x:auto;
            height:80%;
            overflow-y:auto
        }
        .chat-table thead {
            background-color: linen;
            position: sticky;
            top: 0;
            font-weight: 400;
            padding: 0.5em;
        }
        .chat-table tbody tr {
            overflow-x:auto;
            overflow-y:auto;
            font-size:16px;
        }
        .chat-table thead tr td:first-child {
            max-width: 85%;
            width: 85%;
        }
        .chat-table thead tr td:second-child {
            max-width: 15%;
            width: 15%;
        }
        
    </style>
  </head>

  <body class = "body">  
    <div id = "app" class="container">
        <!--div id = "file-upload">
            <h2>上傳檔案</h2>
            <button>送出</button>
        </div-->
        
        
        <div v-show="!isAuth">
            <input type="password" value="" v-model="hash" placeholder="輸入上傳密碼"/>
            <button v-on:click="checkAuth()">GOGO</button>
        </div>
        <div id = "chat-field" class = "chat-field" style="width:100%" v-show="isAuth">
            <div class = "tool-bar">
                <div class="date-picker">
                    <input type="date" id="check-date" name="check-date" v-model="pickedDate">
                    <!--v-date-picker v-model="pickedDate" 
                    :min-date = "firstDate" 
                    :max-date = "lastDate"
                    class="mt-4" 
                    ></v-date-picker>
                    <input type="date"-->
                    <span>如果沒反應就是那天沒有對話</span>
                </div>
                <div class="page-bar">
                    <!--button v-on:click="dateJump">跳到日期</button-->
                    <button v-on:click="getChatLog(page)">跳到</button>
                    <span>
                    <input type="number" value="1" v-model="page"/>
                    / {{maxPage}} 頁
                    </span>
                    <span>
                        視角: 
                        <select v-model="selUser">
                            <option v-for="(usr, uIdx) in chatUsers" v-value="usr">{{usr}}</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="chat-table-div" id = "chat-table">
                <table class="chat-table">
                    <thead>
                        <tr>
                            <td><button v-on:click="previousPage()">上一頁</button></td>
                            <td><button v-on:click="nextPage()">下一頁</button></td>
                        </tr>
                    </thead>
                    <tbody style="border:3px #cccccc solid;" >
                        <tr v-for="(chatLog, chatIdx) in chatLogs" :key="chatIdx">
                            <td v-if="chatLog.user_name === rightUser" align="right" class = "chat-msg">{{chatLog.message}}</td>
                            <td v-else class = "chat-msg">{{chatLog.user_name}}: {{chatLog.message}} </td>
                            <td class="sent-at">{{formatDateTime(chatLog.send_at)}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        
                    </tfoot>
                </table>
            </div>
        </div>
        
        <!-- div id = "summary-field">
            <table>
                <tr v-for="(item, key, index) in dailyPages" :key="index">
                    <td>{{formatDate(key)}}</td>
                    <td><button v-on:click="getChatLog(item.page)">{{item.page}}</button></td>
                </tr>
            </table>
        </div-- >
    </div>
    <!-- body end -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Link VCalendar Javascript (Plugin automatically installed) -->
    <script src='https://unpkg.com/v-calendar'></script>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
            serverUrl: "https://adapi.isp99.com:8443/api/chat",
            //serverUrl: "http://127.0.0.1:5920/api/chat",
            hash: "",
            pg: 0,
            pickedDate: "",
            page: 1,
            isAuth: false,
            maxPage: 0,
            pageRanges: [],
            currentDate: "",
            selPage: 0,
            chatLogs: [
                {
                    "userName": "討厭鬼",
                    "message": "Test123",
                    "sendAt": "2021-08-12T14:42:00.000+00:00",
                    "contentType": "訊息",
                    "platform": "line",
                    "joinUser": null,
                    "phoneCallTime": 0,
                    "highLine": false
                },
            ],
            chatLog: {
                "userName": "討厭鬼",
                "message": "Test123",
                "sendAt": "2021-08-12T14:42:00.000+00:00",
                "contentType": "訊息",
                "platform": "line",
                "joinUser": null,
                "phoneCallTime": 0,
                "highLine": false
            },
            summary: {
                "total_chat": 100033,
                "total_phone_call": 169,
                "total_message": 96055,
                "total_sticker": 2736,
                "total_video": 24,
                "total_picture": 961,
                "total_back": 75,
                "total_miss_call": 13,
                "total_phone_call_time": "140:47:41"
            },
            dailyPages: {
                "2021-07-19": {
                    "page": 308,
                    "startIdx": 30844,
                    "chat_sum": null
                },
            },
            chatDates: new Set(),
            chatUsers: [],
            selUser: "",
            rightUser: "",
            user1: "",
            user2: "",
            firstDate: "",
            lastDate: "",
        },
        methods: {
            uploadFile: async function() {
                var formdata = new FormData();
                formdata.append("file", fileInput.files[0], "chat.txt");
                formdata.append("join_user", "charles_remi");
                let that = this;
                var requestOptions = {
                    method: 'POST',
                    body: formdata,
                    redirect: 'follow'
                };
                
                fetch(that.serverUrl+"/chat/log", requestOptions)
                    .then(response => response.text())
                    .then(result => console.log(result))
                    .catch(error => console.log('error', error));
            },   
            previousPage: async function() {
                this.getChatLog(parseInt(this.selPage) - 1);
                //this.page = this.selPage - 1;
                document.getElementById('chat-table').scrollTop = 999999
            },
            nextPage: async function() {
                this.getChatLog(parseInt(this.selPage) + 1);
                document.getElementById('chat-table').scrollTop = 0
                //this.page = this.selPage + 1;
            },
            getChatLog: async function(page) {
                let that = this;
                that.selPage = page;
                that.page = page;
                var requestOptions = {
                    method: 'GET',
                    redirect: 'follow'
                };
                fetch(that.serverUrl+"/chat/log?page="+page+
                "&hash="+that.hash, requestOptions)
                    .then(response => response.text())
                    .then(function(resp){
                        let res = JSON.parse(resp)
                        that.chatLogs = res.data;
                        that.maxPage = res.page;
                        console.log(that.chatLogs);
                    })
                    .catch(error => console.log('error', error));
                this.pageRanges = [];
                for (i = Math.max(parseInt(this.selPage) - 2, 0); 
                    i < Math.min(parseInt(this.selPage) + 4, this.maxPage); i++) {
                    this.pageRanges.push(i);
                    console.log(i);
                }
                this.$forceUpdate();
                
            },
            checkAuth: async function() {
                let that = this;
                var requestOptions = {
                    method: 'GET',
                    redirect: 'follow'
                };
                fetch(that.serverUrl+"/chat/log/auth?hash="+that.hash, requestOptions)
                    .then(response => response.text())
                    .then(function(resp){
                        let res = JSON.parse(resp)
                        that.isAuth = res.result === "success";
                        if (that.isAuth) {
                            that.chatUsers = res.data;
                            console.log(res.data);
                            that.rightUser = that.chatUsers[1];
                            let urlParams = new URLSearchParams(window.location.search);
                            if (urlParams.has('init_page')) {
                                that.getChatLog(parseInt(urlParams.get('init_page')));
                            } else {
                                that.getChatLog(0);
                            }
                        }
                    })
                    .catch(error => console.log('error', error));
                // this.user1 = this.chatLogs[0].user_name;
                this.getDailyPage();
                this.$forceUpdate();
            },
            getDailyPage: async function() {
                let that = this;
                var requestOptions = {
                    method: 'GET',
                    redirect: 'follow'
                };
                fetch(that.serverUrl+"/chat/log/day_page?hash="+that.hash, requestOptions)
                    .then(response => response.text())
                    .then(function(resp){
                        let res = JSON.parse(resp)
                        that.dailyPages = res.data.datas;
                        that.firstDate = res.data.first_date;
                        that.lastDate = res.data.last_date;
                        const ordered = Object.keys(that.dailyPages).sort().reduce(
                            (obj, key) => { 
                                obj[key] = that.dailyPages[key]; 
                                return obj;
                            }, 
                            {}
                        );
                        that.dailyPages = ordered;
                        console.log(res.data);
                        that.chatDates = new Set(Object.keys(that.dailyPages));
                    })
                    .catch(error => console.log('error', error));
                // this.user1 = this.chatLogs[0].user_name;
                console.log();
                this.$forceUpdate();
            },
            dateJump() {
                var selDate = this.pickedDate;//this.formatDate(this.pickedDate);
                if (selDate != undefined) {
                    console.log(this.dailyPages[selDate]);
                    if (this.chatDates.has(selDate)) {
                        this.getChatLog(this.dailyPages[selDate].page);
                    }
                }
            },
            formatTime(value) {
                if (value) { 
                    return moment(String(value)).format('HH:mm')
                }
            },   
            formatDate(value) {
                if (value) { 
                    return moment(String(value)).format('yyyy-MM-DD')
                }
            },  
            formatDateTime(value) {
                if (value) { 
                    return moment(String(value)).format('yyyy-MM-DD HH:mm')
                }
            },
            allowedDates(val) {
                return that.chatDates.has(this.formatDate(val));
            },
            initPage() {
                let urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('hash')) {
                    this.hash = urlParams.get('hash');
                    this.checkAuth();
                    this.$forceUpdate();
                }
                
            }

        },
        watch: {
            selUser: function() {
                this.rightUser = this.selUser;
                this.$forceUpdate();
            },
            pickedDate: function() {
                this.dateJump();
            }
        },
        mounted: async function() {
            this.initPage();
        }
      })
    </script>
  </body>
</html>